<div class="player">
  <div class="player-button player-button--backward">
    <fa-icon [icon]="faBackward"></fa-icon>
  </div>
  <div class="player-button player-button--play">
    <fa-icon [icon]="faPlay"></fa-icon>
  </div>
  <div class="player-button player-button--forward">
    <fa-icon [icon]="faForward"></fa-icon>
  </div>

  <div class="player-volume">
    <input type="range" name="volume" min="0" max="100" value="75" />
  </div>

  <div class="player-song">
    <div class="player-song--name">Melancholic Melody</div>
    <div class="player-song--artist">Nate Maingard</div>
  </div>

  <div class="player-image">
    <img src="https://imgjam1.jamendo.com/albums/s27/27454/covers/1.200.jpg">
  </div>
</div>
