/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:700|Comfortaa:700|Fredericka+the+Great');


/* Common props for html and body */
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  display: flex;
  flex-direction: column;
}


/* Theme variables */
:root {
  --google-blue: #4285f4;
  --google-red: #ea4335;
  --google-yellow: #fbbc05;
  --google-green: #34a853;
}

b[blue] {
  color: var(--google-blue);
}

b[yellow] {
  color: var(--google-yellow);
}

b[green] {
  color: var(--google-green);
}

b[red] {
  color: var(--google-red);
}


/* System messages colors */

.loading {
  color: #ccc;
}

.no-results {
  color: var(--google-yellow);
}

.error {
  color: var(--google-red);
}

